@import '../common.scss';

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #000;
  align-items: center;
  padding: 10px 0px;
  @include large {
    width: 85%;
    margin-left: 7.5%;
    padding: 20px;
    justify-content: center;
  }
}

.title{
  color: #000;
  font-family: $raleway;
  font-size: 44px;
  @include large {
    margin-left: auto;
  }
}

.cart{
  width: 36px;
  height: 36px;
  @include large {
    margin-left: auto;
  }
}