@import '../common.scss';

.product{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  align-items: center;
  @include large {
    width: 27%;
  } 
}
.product img{
  width: 7em;
  margin-left: 5px;
  @include large {
    width: 5em;
  } 
}
.product img{
  text-align: center;
}
.product p{
  font-family: $lato;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}