@import '../../stylesheets/common.scss';

.showcase{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
  @include large {
    width: 85%;
    margin-left: 7.5%;
    padding: 0px;
  }
}
.section{
  text-align: center;
  font-family: $raleway;
  font-weight: 600;
}