@import '../../stylesheets/common.scss';

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  align-items: center;
  padding: 10px;
  @include large {
    width: 85%;
    margin-left: 7.5%;
    padding: 20px 0;
    justify-content: center;
  }
}

.title{
  text-decoration: none;
  color: #000;
  font-family: $raleway;
  font-size: 36px;
  @include large {
    font-size: 44px;
    margin-left: auto;
  }
}

.cart{
  width: 36px;
  height: 36px;
  fill: #000;
  @include large {
    margin-left: auto;
  }
}